
<div class="container">
    <div class="row featurette">

        <div class="col-md-12">
            <h2 class="featurette-heading">About<span class="text-muted">DDD Midlands</span></h2>
            <p class="lead">
                Developer! Developer! Developer! (DDD) Midlands is an event in the popular series of Developer Days events for the UK .NET Community that have run since May 2005.
            </p>
            <p>
                Although each DDD event has its own particular "flavour", they remain immensely popular and enjoyable, regularly attracting 200-300 attendees and often selling out within minutes.
            </p>
            <p>
                DDD events were started on the following five principles, which we intend to adhere to in their spirit:

                <ul>
                    <li>For the community by the community</li>
                    <li>Free to attend</li>
                    <li>Held on a Saturday or non-work day</li>
                    <li>No Microsoft speakers (with some exceptions)</li>
                    <li>Grow the local speaker community</li>
                </ul>
            </p>
            <p>
                Sessions are submitted by members of the community and selected by attendees.
            </p>
            <p> Microsoft speakers are generally not permitted to speak at DDD events, but the exceptions to this rule are Microsoft employees who are active members of the UK .NET community. </p>
            <p>
                In short, these are sessions crafted by developers for developers, with no sales pitches allowed!
            </p>

        </div>
        @*<div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="~/Images/Platinum.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>*@

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Derbyshire<span class="text-muted">Dot Net</span></h2>
            <p class="lead">
                Developer! Developer! Developer! (DDD) Midlands is an event in the popular series of Developer Days events for the UK .NET Community that have run since May 2005.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Images/derbyshire-dotnet-logo.png" data-src="holder.js/500x500/auto" alt="Derbyhire Dot Net">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Dot Net<span class="text-muted">Notts</span></h2>
            <p class="lead">
                Developer! Developer! Developer! (DDD) Midlands is an event in the popular series of Developer Days events for the UK .NET Community that have run since May 2005.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Images/dotnetnotts-avatar-circle.png" data-src="holder.js/500x500/auto" alt="Dot Net Notts">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Organsing<span class="text-muted">Team</span></h2>
            </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4">
            <img class="img-responsive img-circle center-block" style="max-height:200px;" src="~/Images/barry.jpg"  data-src="holder.js/500x500/auto"/>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-circle center-block" style="max-height:200px;" src="~/Images/stephen-haunts.jpg"  data-src="holder.js/500x500/auto" />
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-circle center-block" style="max-height:200px;"  data-src="holder.js/500x500/auto" src="~/Images/marvin-rounce.jpg" />
        </div>
    </div>

    <div class="row col-md-12">
        <div class="col-md-4">
            <h3>Barry Mills</h3>
        </div>
        <div class="col-md-4">
            <h3>Stephen Haunts</h3>
         </div>
        <div class="col-md-4">
            <h3>Marvin Rounce</h3>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="col-md-4">
            <p>Barry Mills</p>
        </div>
        <div class="col-md-4">
            <p>Stephen Haunts is an experienced Software Developer and Leader who has worked across multiple business domains including Computer Games, Finance, and Healthcare Retail and Distribution. 
            </p>
            <p>
            Stephen has worked in languages ranging from Assembler, various forms of BASIC, to C and C++, and then finding his love of C# and .NET. </p>
            <p>Stephen also runs a Software Development and Leadership blog called {Coding in the Trenches} which can be read at stephenhaunts.com.</p>
            <p> Stephen also runs a small music label and sound design company where he also developed the site and content management system. The site is hauntedhouserecords.co.uk . </p>
            <p>As well as blogging, and running software teams for large companies, Stephen also runs some open source projects on CodePlex including SafePad - an encrypted text editor, Text Shredder - an encrpyted messaging tool, and Smoke Tester - a post deployment verification testing framework.</p>
        </div>
        <div class="col-md-4">
            <p>Love software. Love startups. Love Canoe Slalom. Always hungry. Always learning. Improving the property purchase process with InTouch</p>
        </div>
    </div>

    <hr class="featurette-divider">
