@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About DDD Midlands</h2>
        <p>
            Developer! Developer! Developer! (DDD) Midlands is an event in the popular series of Developer Days events for the UK .NET Community that have run since May 2005. 
         </p>
        <p>  
          Although each DDD event has its own particular "flavour", they remain immensely popular and enjoyable, regularly attracting 200-300 attendees and often selling out within minutes.
</p>
        <p>
            DDD events were started on the following five principles, which we intend to adhere to in their spirit:

            <ul>
                <li>For the community by the community</li>
                <li>Free to attend</li>
                <li>Held on a Saturday or non-work day</li>
                <li>No Microsoft speakers (with some exceptions)</li>
                <li>Grow the local speaker community</li>
            </ul>
        </p>
        <p>
            Sessions are submitted by members of the community and selected by attendees.
            </p>
        <p> Microsoft speakers are generally not permitted to speak at DDD events, but the exceptions to this rule are Microsoft employees who are active members of the UK .NET community. </p>
        <p>In short, these are sessions crafted by developers for developers, with no sales pitches allowed!
        </p>
       <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
           
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>