
@{
    ViewBag.Title = "Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sponsors</h2>


<!-- Marketing messaging and featurettes
 ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">



    <!-- START THE FEATURETTES -->


    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Platinum Sponsors<span class="text-muted"><br/>Provide sponsorship of £1250.00</span></h2>
            <p class="lead">
                <ul>
                    <li>Platinum sponsors are able to place banners in each of the session rooms</li>
                    <li>Platinum sponsors will be given a 6' table in the mezannine area.</li>
                    <li>Platinum sponsors will have their logo/names printed on all name tags that the delegates will wear, agenda handouts and signage, and speaker shirts.</li>
                    <li>Platinum, Gold and Silver sponsors will be provided with attendee information.</li>
                    <li>Opportunity to also provide bag insterts to the delegates</li>
                    <li>Logo displayed on DDD Midlands website</li>

                </ul>
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Images/Platinum.jpg"  data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Gold Sponsors<span class="text-muted"><br />Provide sponsorship of £1000.00</span></h2>
            <p class="lead">
                <ul>
                    <li>Platinum sponsors will be given a 6' table in the mezannine area.</li>
                    <li>Platinum sponsors will have their logo/names printed on all name tags that the delegates will wear, agenda handouts and signage, and speaker shirts.</li>
                    <li>Platinum, Gold and Silver sponsors will be provided with attendee information.</li>
                    <li>Opportunity to also provide bag insterts to the delegates</li>
                    <li>Logo displayed on DDD Midlands website</li>

                </ul>
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Images/gold.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Silver Sponsors<span class="text-muted">Provide sponsorship of £750.00</span></h2>
            <p class="lead">
                <ul>
                    <li>Silver sponsors will have their logo/names printed on all name tags that the delegates will wear, agenda handouts and signage, and speaker shirts.</li>
                    <li>Silver, Gold and Silver sponsors will be provided with attendee information.</li>
                    <li>Opportunity to also provide bag insterts to the delegates</li>
                    <li>Logo displayed on DDD Midlands website</li>
                </ul>
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Images/silver.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Supporter<span class="text-muted">Under £500.00</span></h2>
            <p class="lead">
                We also need food, beverages, coffees, prize giveaways etc... <b>NEED TO ELABORATE!!!!</b> 
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Images/support.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->



